In [9]:
import pandas as pd
import numpy as np

In [12]:
df=pd.read_csv('PYTHON/terrorismData.csv')

In [27]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

# few basics of dataframes

In [30]:
df.shape

(181691, 17)

In [32]:
df.describe()

,Year,Month,Day,Latitude,Longitude,Killed,Wounded
count,181691.000000,181691.000000,181691.000000,177135.000000,1.771340e+05,171378.000000,165380.000000
mean,2002.638997,6.467277,15.505644,23.498343,-4.586957e+02,2.403272,3.167668
std,13.259430,3.388303,8.814045,18.569242,2.047790e+05,11.545741,35.949392
min,1970.000000,0.000000,0.000000,-53.154613,-8.618590e+07,0.000000,0.000000
25%,1991.000000,4.000000,8.000000,11.510046,4.545640e+00,0.000000,0.000000
50%,2009.000000,6.000000,15.000000,31.467463,4.324651e+01,0.000000,0.000000
75%,2014.000000,9.000000,23.000000,34.685087,6.871033e+01,2.000000,2.000000
max,2017.000000,12.000000,31.000000,74.633553,1.793667e+02,1570.000000,8191.000000

## return 5 rows: think of it as preview

In [26]:
df.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

# ACCESSING ROWS AND COLUMNS OF A DATAFRAME

In [42]:
df['State'].values

array([nan, 'Federal', 'Tarlac', ..., 'Maguindanao', 'Manipur',
       'Maguindanao'], dtype=object)

In [53]:
df.iloc[0]

Year                                  1970
Month                                    7
Day                                      2
Country                 Dominican Republic
State                                  NaN
Region         Central America & Caribbean
City                         Santo Domingo
Latitude                           18.4568
Longitude                         -69.9512
AttackType                   Assassination
Killed                                   1
Wounded                                  0
Target                        Julio Guzman
Summary                                NaN
Group                               MANO-D
Target_type    Private Citizens & Property
Weapon_type                        Unknown
Name: 0, dtype: object

In [55]:
condition=df['Country']=='India'

In [59]:
df[condition].State.unique()

array(['Delhi', 'Bihar', 'Maharashtra', 'Assam', 'Manipur', 'Mizoram',
       'Andhra Pradesh', 'Unknown', 'Jharkhand', 'Tamil Nadu',
       'Uttar Pradesh', 'West Bengal', 'Nagaland', 'Gujarat',
       'Chandigarh', 'Rajasthan', 'Punjab', 'Chhattisgarh', 'Tripura',
       'Haryana', 'Jammu and Kashmir', 'Himachal Pradesh', 'Karnataka',
       'Uttaranchal', 'Madhya Pradesh', 'Orissa', 'Kerala', 'Odisha',
       'Meghalaya', 'Sikkim', 'Goa', 'Andhra pradesh',
       'Arunachal Pradesh', 'Puducherry', 'Telangana'], dtype=object)

# putting condition in dataframe

In [67]:
condition= (df['Country']=='India') & (df['State']=='Jammu and Kashmir')

In [72]:
df2=df[condition]

In [74]:
df2['Group'].value_counts()

Unknown                                     1471
Hizbul Mujahideen (HM)                       193
Lashkar-e-Taiba (LeT)                        165
Muslim Separatists                           113
Kashmiri extremists                           73
Muslim Militants                              70
Separatists                                   51
Jammu and Kashmir Liberation Front            50
Jaish-e-Mohammad (JeM)                        31
Muslim extremists                             27
Militants                                     23
Sikh Extremists                               20
Al-Mansoorian                                 16
Lashkar-e-Islam (India)                       13
Tehrik al-Mojahedin                           13
Jamiat ul-Mujahedin (JuM)                     12
Al-Umar Mujahideen                            10
Harkat ul Ansar                                9
Islamic Front                                  5
Al-Shuda Brigade                               5
Gunmen                                         4
Muslim Rebels                                  4
Al-Madina                                      4
Al-Arifeen                                     4
Muslim Janbaz Force                            3
Ikhwan-ul-Muslimeen                            3
Al-Jehad                                       3
Al-Nasireen Group                              3
Kashmiri Hezbollah                             3
Save Kashmir Movement                          3
                                            ...
Al-Nasirin (India)                             2
Muslims                                        2
Muslim Brotherhood                             2
Khalistan Zindabad (Long Live Khalistan)       2
Al-Faran                                       2
Lashkar-e-Jhangvi                              2
Mujahideen Kashmir                             2
Jammu and Kashmir Islamic Front                2
Al-Badr                                        2
Afghan Merceneries                             1
Al-Fajr                                        1
Pakistani trained terrorists                   1
Lashkari-e-Adam (Army of Adam)                 1
Jamaat-E-Islami (India/Pakistan)               1
Achwan-I-Mushbani                              1
Al-Fatah                                       1
Bodo Militants                                 1
Tehrik-e-Hurriyat (TeH)                        1
Kashmir Freedom Force                          1
Babbar Khalsa International (BKI)              1
Maoist Communist Center (MCC)                  1
Harkatul Jihad-e-Islami                        1
United Jihad Council                           1
Minority Unity Forum                           1
Ansar Ghazwat-ul-Hind                          1
Al-Hamas Mujahideen                            1
Dukhta-ran-e-Millat                            1
Islamic Fateh                                  1
Guerrillas                                     1
Quit Kashmir Movement (QKM)                    1
Name: Group, Length: 65, dtype: int64

In [89]:
df2.groupby(['Group']).sum()['Killed'].sort_values()

Group
Jamaat-E-Islami (India/Pakistan)               0.0
Ansar Ghazwat-ul-Hind                          0.0
Ikhwan-ul-Muslimeen                            0.0
Al-Nasirin (India)                             0.0
Kashmir Freedom Force                          0.0
Lashkari-e-Adam (Army of Adam)                 0.0
Al-Hamas Mujahideen                            0.0
Lashkar-e-Jhangvi                              0.0
Maoist Communist Center (MCC)                  0.0
Pro-Pakistani extremists                       0.0
Quit Kashmir Movement (QKM)                    0.0
Tehrik-e-Hurriyat (TeH)                        0.0
Al-Fatah                                       0.0
Harakat ul-Mujahidin (HuM)                     1.0
Minority Unity Forum                           1.0
Jammu and Kashmir Islamic Front                1.0
Islamic Movement of Kashmir                    1.0
Islamic Fateh                                  1.0
Dukhta-ran-e-Millat                            1.0
Achwan-I-Mushbani                              1.0
Al-Jehad                                       1.0
Al-Faran                                       1.0
Allah's Tigers                                 1.0
Al-Fajr                                        1.0
Gunmen                                         2.0
Al-Badr                                        2.0
Kashmiri Hezbollah                             3.0
Harkatul Jihad-e-Islami                        3.0
Mujahideen Kashmir                             3.0
Bodo Militants                                 4.0
                                             ...
Tehrik al-Mojahedin                            5.0
Al-Arifeen                                     6.0
Guerrillas                                     6.0
Afghan Merceneries                             7.0
Muslims                                        7.0
Khalistan Zindabad (Long Live Khalistan)      10.0
Al-Nasireen Group                             10.0
Save Kashmir Movement                         10.0
Pakistani trained terrorists                  12.0
Babbar Khalsa International (BKI)             14.0
United Jihad Council                          15.0
Islamic Front                                 15.0
Harkat ul Ansar                               17.0
Al-Shuda Brigade                              23.0
Al-Umar Mujahideen                            25.0
Muslim Rebels                                 36.0
Sikh Extremists                               38.0
Muslim extremists                             44.0
Militants                                     46.0
Jamiat ul-Mujahedin (JuM)                     47.0
Jammu and Kashmir Liberation Front            51.0
Al-Mansoorian                                 70.0
Separatists                                   88.0
Muslim Separatists                            96.0
Jaish-e-Mohammad (JeM)                       107.0
Muslim Militants                             193.0
Kashmiri extremists                          237.0
Hizbul Mujahideen (HM)                       407.0
Lashkar-e-Taiba (LeT)                        683.0
Unknown                                     1705.0
Name: Killed, Length: 65, dtype: float64

In [ ]:
df2.groupby(['Group']).sum()['Killed'].sort_values

In [ ]:
df2.groupby(['Group']).sum().orderby

SyntaxError: invalid syntax (<ipython-input-3-0563570233e1>, line 1)